.list-container {
  padding: 10%;
  display: grid;
  grid-template-columns: 30% 40% 20%; }
  .list-container .active {
    color: green; }
  .list-container li {
    cursor: pointer; }
  .list-container ul {
    max-height: 500px;
    overflow: auto; }
  .list-container img {
    width: 100%; }
